- var nodePath = '/node_modules'

// build:js({./,src}) ./assets/js/all.min.js
//- script(src='#{nodePath}/jquery/dist/jquery.js')
//- script(src='#{nodePath}/jquery-match-height/jquery.matchHeight-min.js')
script(src='./scripts/init.js')
// endbuild