head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title #{pageTitle}
  
  link(href='./favicon.ico' rel='icon' type='image/x-icon')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic', rel='stylesheet', type='text/css')
  
  // build:css ./assets/css/all.min.css
  // add your custom CSS stylesheets here, before style.css
  link(href='./assets/css/style.css', rel='stylesheet')
  // endbuild